<tr>
  <td>1</td>
  <td><%= category.name %></td>
  <td class='task'>
    <%= task.task %>
  </td>
  <td>
    <input type="date" name="" id="">
    <input type="text" placeholder='hrs' style="width: 4em" />
    <button>Save</button>
  </td>
  <td>
    <div class="btn-group">
      <!-- <select name="" id=""> -->
      <!-- <a value="">--- choose status ---</a> -->
      <a href="#" value="">I'm working on this</a>
      <a href="#" value="">Blocked!</a>
      <a href="#" value="">Ready for review</a>
      <a href="#" value="">Failed testing</a>
      <!-- </select> -->
    </div>
  </td>
  <td><a href="">notes</a></td>
</tr>