<h1><%= @project.name %>!</h1>

<nav>
  <ul>
    <li><a href="">Tasks</a></li>
    <li><a href="">Settings</a></li>
  </ul>
</nav>

<div class='tbl-tasks' valign='top'>
  <div class="header row">
    <div class='col-id'>#</div>
    <div class='col-category'>category</div>
    <div class='col-task'>task</div>
    <!-- <div class='col-log'>log time</div> -->
    <div class='col-status'>status</div>
    <div class='col-assign'>assign</div>
    <div class='col-notes'>notes</div>
  </div>
  <div class='body'>
    <%= render partial: "category_row", collection: @project.categories, as: :category %>

    <%= render partial: "/tasks/row/task_row", collection: @project.tasks.where(category: nil), as: :task %>
  </div>
</div>

<form action="">
  <label for="">Task</label>
  <br>
  <textarea name="name" rows="3" cols="80"></textarea>
</form>

<button>Add a task</button>