/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require reboot
 *= require_self
 *= require_tree .
 */

body {
  font-family: courier new, monospace;
  font-size: 16px;
  background: #333;
}

.container {
  /* width: 00px; */
  margin: 2em;
  padding: 1em;

  // &.boxed {
  border: double 5px #aaf;
  background: #fcfcfc;
  // }

  &.notices {
    background: #ffa;
    border-color: orange;
  }
  &.errors {
    background: #faa;
    border-color: red;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0 0 1rem 0;
}

/* spacing */
ul,
p,
table,
.field {
  padding: 0;
  margin: 1rem 0 1rem 0;
}

ul {
  list-style-position: inside;
}

table {
  width: 100%;
}

thead th {
  border-bottom: solid 1px #aaa;
}

th {
  text-align: left;
}

td,
th {
  padding: 0.3rem;
  vertical-align: top;
}

input {
  padding: 3px 7px;
}

button,
.btn,
input[type="submit"] {
  text-transform: uppercase;
  /* line-height: 1.2em; */
  border-radius: 5px;
  border: solid 1px #222;
  background: #88f;
  color: #fff;
  padding: 3px 7px;
  margin: 2px;
  font-size: 14px;

  transition: 0.1s;
}

button:hover,
.btn:hover,
input[type="submit"]:hover {
  cursor: pointer;
  text-decoration: underline;
  background: yellow;
  border-width: 3px;
  margin: 0px;
  color: #111;

  &.disabled {
    cursor: inherit;
    text-decoration: none;
  }
}

// .text-right {
//   display: block;
//   align: right;
// }

// .white {
//   color: #eee;
// }

.opposites {
  display: flex;
  justify-content: space-between;
}

.right {
  text-align: right;
}

.comic {
  font-family: marker felt, comic sans;
}

.row {
  display: flex;

  > div {
    padding: 0.1rem;
  }
}
.header {
  font-weight: bold;
  border-bottom: solid 1px #ddd;
}

.btn-group {
  display: flex;
  flex-direction: column;

  .btn {
    margin: 0;
    border-top: none;
    border-radius: 0 0 0 0;

    &:hover {
      border-width: 1px;
    }

    &:first-child {
      border-radius: 5px 5px 0 0;
      border-top: solid 1px #222;
    }

    &:last-child {
      border-radius: 0 0 5px 5px;
    }
  }
}
