.tbl-tasks {
  font-size: 14px;
  min-width: 820px;

  textarea,
  input[type="text"] {
    width: 100%;
  }
}

.col-id {
  flex: 0 0 30px;
}
.col-category {
  flex: 0 0 130px;
}
.col-task {
  flex-grow: 1;
}
// .col-log {
//   flex: 0 0 120px;
// }
.col-status {
  flex: 0 0 170px;
}
.col-assign {
  flex: 0 0 150px;

  select {
    max-width: 130px;
  }
}
.col-notes {
  flex: 0 0 80px;
}

.body .col-task {
  background: #fff;
  // font-size: 16px;
}

.body .col-category {
  font-size: 12px;
}
