<div class="project-link" style="transform: rotate(<%= rand(-20..20) %>deg);
  background: <%= ['red','yellow','green','blue','orange', 'pink', 'purple'].sample %>; color: white;">
  <%= link_to project.name, project %>
</div>